<!DOCTYPE html>
<html>
<head>
  <title>Skull Crusher</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
  <meta name"desctiption" content="Skull Crusher!!!">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <canvas id="game" class="canvas"></canvas>
  <div class="font1">Need to put some text in here to pre-load the font</div>
  <div class="font2">Need to put some text in here to pre-load the font</div>
  <script src="/index.js" type="module"></script>
</body>
</html>