html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $darkGray;
  display: flex;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
