.header {
  background-color: $mainBackgroundColor;
  border-bottom: 1px solid $textColor;
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  padding: 10px 20px;
  position: fixed;
  z-index: 10;
  @media (max-width: 800px) {
    width: 100vw;
  }
  @media (min-width: 801px) {
    width: 800px;
    margin: 0 auto;
  }
  // On smaller screens, the life and speed will overlap
  @media (max-width: 339px) {
    padding: 10px;
  }
}

.header--hidden {
  display: none;
  height: 0;
  pointer-events: none;
}
