@mixin life-meter($color) {
  background: repeating-linear-gradient(
    to right,
    $color,
    $color 7px,
    transparent 3px 10px
  );
  content: ' ';
  display: inline-block;
  height: 14px;
  min-width: 97px;
}

.life {
  @include headerText--small();
}

.life__background {
  @include life-meter($red);
  @include labelMargin();
}

.life__overlay {
  @include life-meter($white);
  transform: translate(-97px);
  z-index: 10;
}
