.play-control {
  color: $text-color;
  display: flex;
  flex: 1 0 50%;
  font-family: $text-font;
  font-size: 20px;
  height: 20px;
  justify-content: flex-end;
  line-height: 1;
  &:before {
    content: 'PAUSE';
  }
  &:after {
    background-image: url('../images/pause.svg');
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 20px;
    margin-left: 4px;
    width: 20px;
  }
}

.play-control--paused {
  &:before {
    content: 'RESUME';
  }
  &:after {
    background-image: url('../images/play.svg');
  }
}
