.play-control {
  @include headerText--large();
  align-items: center;
  display: flex;
  justify-content: flex-end;
  &:before {
    content: 'PAUSE';
  }
  &:after {
    @include labelMargin();
    background-image: url('../images/pause.svg');
    background-size: contain;
    content: ' ';
    display: inline-block;
    height: 18px;
    width: 18px;
  }
}

.play-control--paused {
  &:before {
    content: 'RESUME';
  }
  &:after {
    background-image: url('../images/play.svg');
  }
}
