@mixin slider-dot {
  width: 14px;
  height: 14px;
  background-image: url('../images/skull.svg');
  background-size: 14px 14px;
  cursor: pointer;
}

.speed-control {
  align-items: center;
  color: $text-color;
  display: flex;
  flex: 1 0 50%;
  font-family: $text-font;
  font-size: 14px;
  height: 14px;
  justify-content: flex-end;
  line-height: 1;
  margin-top: 2px;
  max-width: 50%;
}

.speed-control__slider {
  appearance: none;
  background: $red;
  height: 2px;
  outline: none;
  width: 100px;
}

.speed-control__slider {
  &::-webkit-slider-thumb {
    @include slider-dot;
    appearance: none;
  }
  &::-moz-range-thumb {
    @include slider-dot;
    background-color: transparent;
    border: none;
  }
}
