@mixin slider-dot {
  background-image: url('../images/skull.svg');
  background-size: 20px 20px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.speed-control {
  @include headerText--small();
  justify-content: flex-end;
}

.speed-control__slider {
  appearance: none;
  background: $red;
  height: 5px;
  outline: none;
  width: 100px;
}

.speed-control__slider {
  &::-webkit-slider-thumb {
    @include slider-dot;
    appearance: none;
  }
  &::-moz-range-thumb {
    @include slider-dot;
    background-color: transparent;
    border: none;
  }
}
