// fonts
$text-font: 'Source Code Pro';
$title-font: 'Creepster';

// colors
$white: #ffffff;
$red: #bb0a1e;
$black: #000000;
$green: #00ff00;
$gray: #cccccc;
$main-background-color: $black;
$text-color: $gray;
