// fonts
$text-font: 'Source Code Pro';
$title-font: 'Creepster';

// colors
$black: #000000;
$darkGray: #333333;
$gray: #cccccc;
$green: #00ff00;
$red: #bb0a1e;
$white: #ffffff;
$mainBackgroundColor: $black;
$textColor: $gray;
